# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Images
# *.jpg
# *.png
